@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14px;
  color: #333333;
  line-height: 1.6;
}

a {
  color: rgb(59 130 246);
  text-decoration: underline;
}

ul li {
  list-style: auto;
  margin-left: 1em;
}

h1 {
  font-size: 18px;
  border-bottom: 1px #eee solid;
  padding: 8px 0;
  margin-bottom: 12px;
  font-weight: 600;
}

h2 {
  font-weight: bold;
}
